.jumbotron {
border:20px;
background-color:#e8b3b3;
width:767px;
height:462px;
}
p {
	font-family: roboto;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size:36px;
	margin-top:auto;
	padding-left:201px;
	color:#e5e5e5;
}
h4 {
	width:752;
	height:79;
	color: #ef1b1b;
	font-size:29px;
	padding-left:4px;
	padding-top:282px;
	font-weight:300;

}
h5 {
	font-size:60px;
	padding-left: 84px;
	margin-top:-247px;
	color: greenyellow;
font-weight:0;

}